body {
    text-align: center;
    background-color: rgb(112, 112, 112);
    color: rgb(7, 7, 7)
}

h1 {
    font-family: Monoton;
    font-size: 100px;
    margin: 0.2em;

}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 3px solid black;
    background-color: aliceblue;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 50px;
}

td {
    width: 50px;
}

input[type=number] {
    width: 6em;
}
